:root {
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("/img/clouds_by_mia_2022.png");
    background-attachment: fixed;
    background-size: auto 1050px;
    background-position: 50% 0px;
    background-repeat: repeat-x;
}

a:link, a:visited {
    color: #0969da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    min-height: 100vh;
    display: flex;
}

#app {
    display: flex;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-height: calc(400px - env(safe-area-inset-left) - env(safe-area-inset-right));
    max-width: calc(800px - env(safe-area-inset-left) - env(safe-area-inset-right));
    margin: 32px auto 32px auto;
    border-radius: 4px;
}

.sidebar {
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 80px 10px 10px 10px;
    box-sizing: border-box;
}

.sidebar-inner {
    position: sticky;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    flex: 1;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
}

p, li {
    line-height: 1.6;
}

h1:first-child, h2:first-child, p:first-child, ul:first-child {
    margin-top: 0px;
}

h1:last-child, h2:last-child, p:last-child, ul:last-child {
    margin-bottom: 0px;
}

.sidebar-item:link, .sidebar-item:visited {
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #222;
    padding: 10px;
    border-radius: 4px;
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-item.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.screenshot {
    width: 100%;
    display: block;
}

.h-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.h-stack h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    flex: 1;
}

.app-icon {
    width: 48px;
}

hr {
    border: none;
    color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
}

.banner-download {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px;
    font-size: 16px;
    margin: 0px -20px 0px -20px;
    display: flex;
    align-items: center;
}

.download-info {
    flex: 1;
}

.download-button-container {
    padding: 0px 20px 0px 20px;
}

.subtitle {
    color: #999;
    font-size: 12px;
}

.download-button:link, .download-button:visited {
    background-color: #111;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    transition: box-shadow 0.15s ease-in-out;
}

.download-button:hover {
    box-shadow: 0px 0px 0px 3px rgba(70, 145, 208, 0.25);
    text-decoration: none;
}

#breadcrumb {
    font-size: 14px;
    padding: 5px;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.chevron {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("/img/chevron_right.png");
    background-size: 12px 12px;
}

.list-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-item-prefix {
    font-size: 14px;
}

.list-item-avatar {
    display: flex;
    align-items: center;
}

.list-item-title {
    flex: 1;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    border: none;
}

@media (max-width: 600px) {
    .wrapper {
        align-items: flex-start;
        background-size: auto 100vh;
    }

    #app {
        margin: 0px;
        border-radius: 0px;
        flex-direction: column;
    }

    .sidebar {
        position: sticky;
        top: 0;
        left: 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        min-width: 160px;
        padding: 0px;
    }

    .sidebar-inner {
        flex-direction: row;
        top: 0;
        gap: 0;
    }

    .sidebar-item:link, .sidebar-item:visited {
        font-size: 14px;
        border-radius: 0px;
    }

    .main {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media (min-height: 1050px) {
    .wrapper {
        background-size: auto 100vh;
    }
}