:root {
    --shadow-highlight: 0px 0px 0px 3px rgba(70, 145, 208, 0.25);
    --backdrop-blur-radius: 10px;
    --default-transition-option: 0.15s ease-in-out;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link, a:visited {
    color: #0969da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    padding: 10px;
    font-family: "JetBrains Mono", "Panic Sans", "SF Mono", monospace;
    border-radius: 4px;
}

.wrapper {
    position: static;
    min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    background-image: url("/img/clouds_by_mia_2022_optimized.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    display: flex;
}

#app {
    display: flex;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    max-width: calc(800px - env(safe-area-inset-left) - env(safe-area-inset-right));
    margin: 32px auto;
    border-radius: 4px;
}

.sidebar {
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(var(--backdrop-blur-radius));
    -webkit-backdrop-filter: blur(var(--backdrop-blur-radius));
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 80px 10px 10px 10px;
    box-sizing: border-box;
}

.sidebar-inner {
    position: sticky;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    flex: 1;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
}

p, li {
    line-height: 1.6;
}

h1:first-child, h2:first-child, p:first-child, ul:first-child {
    margin-top: 0px;
}

h1:last-child, h2:last-child, p:last-child, ul:last-child {
    margin-bottom: 0px;
}

.sidebar-item:link, .sidebar-item:visited {
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: #222;
    padding: 10px;
    border-radius: 4px;
    transition: background-color var(--default-transition-option);
}

.sidebar-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar-item.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.screenshot {
    width: 100%;
    display: block;
}

.h-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.h-stack h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    flex: 1;
}

.app-icon {
    width: 48px;
}

hr {
    border: none;
    color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
}

.banner-download {
    background-color: #f7f7f7;
    padding: 20px;
    font-size: 16px;
    margin: 0px -20px 0px -20px;
    display: flex;
    align-items: center;
}

.download-info {
    flex: 1;
}

.download-button-container {
    padding: 0px 20px 0px 20px;
}

.subtitle {
    color: #999;
    font-size: 12px;
}

.download-button:link, .download-button:visited {
    background-color: #111;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    transition: box-shadow var(--default-transition-option);
}

.download-button:hover {
    box-shadow: var(--shadow-highlight);
    text-decoration: none;
}

#breadcrumb {
    font-size: 14px;
    padding: 5px;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.chevron {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("/img/chevron_right.png");
    background-size: 12px 12px;
}

.list-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-item-prefix {
    font-size: 14px;
}

.list-item-avatar {
    display: flex;
    align-items: center;
}

.list-item-title {
    flex: 1;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    border: none;
}

.avatar:hover {
    box-shadow: var(--shadow-highlight);
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-name {
    font-size: 14px;
}

.page-info {
    font-size: 14px;
    color: #999;
}

.cookie-consent-banner {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100vw;
    padding: 0 20px;
    opacity: 1;
    transition: opacity var(--default-transition-option);

    &.fade {
        opacity: 0;
    }
}

.cookie-consent-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(800px - 40px - env(safe-area-inset-left) - env(safe-area-inset-right));
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 1.6;
    font-size: 14px;
    box-sizing: border-box;

    border: 1px solid rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(var(--backdrop-blur-radius));
    -webkit-backdrop-filter: blur(var(--backdrop-blur-radius));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .control-group {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.cookie-accept, .cookie-decline {
    background-color: #f0f0f0;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    transition: box-shadow var(--default-transition-option);

    &:hover {
        box-shadow: var(--shadow-highlight);
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .wrapper {
        align-items: flex-start;
    }

    #app {
        min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
        margin: 0px;
        border-radius: 0px;
    }

    .sidebar {
        min-width: 160px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .main {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        align-items: flex-start;
    }

    #app {
        min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
        margin: 0px;
        border-radius: 0px;
        flex-direction: column;
    }

    .sidebar {
        position: sticky;
        top: 0;
        left: 0;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        min-width: 160px;
        padding: 0px;
    }

    .sidebar-inner {
        flex-direction: row;
        top: 0;
        gap: 0;
    }

    .sidebar-item:link, .sidebar-item:visited {
        font-size: 14px;
        border-radius: 0px;
    }

    .main {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .cookie-consent-inner {
        flex-flow: column;
        gap: 10px;
    }
}