<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#00215e">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{% block title %}CodeLauncher{% endblock %}</title>
  <link rel="apple-touch-icon" href="/img/apple_touch_icon_180.png" sizes="180x180" type="image/png">
  <link rel="icon" type="image/png" href="/img/icon_192.png" sizes="192x192">
  <link rel="preconnect" href="https://opensource.v2ex.pro/" crossorigin>
  <link rel="dns-prefetch" href="https://opensource.v2ex.pro/">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin>
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
  <link rel="stylesheet" href="/style.css?r={{ get_file_hash(path="style.css", sha_type=256) }}">
  <link rel="manifest" href="/manifest.json">
  {% block head %}{% endblock %}
</head>
<body>
<div class="wrapper">
  <div id="app">
    {% include 'sidebar.html' %}
    <div class="main">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js" integrity="sha512-HX+/SvM7094YZEKOCtG9EyjRYvK8dKlFhdYAnVCGNxMkA59BZNSZTZrqdDlLXp0O6/NjDb1uKnmutUeuzHb3iQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>  
</body>
</html>