{% extends 'base.html' %}

{% block head %}
<script>
  axios.get('https://opensource.v2ex.pro/codelauncher/appcast.xml')
  .then(response => {
    const x2js = new X2JS();
    const appcast = x2js.xml_str2json(response.data);

    const download = {
      latestVersion: appcast.rss.channel.item.title,
      releaseDate: new Date(appcast.rss.channel.item.pubDate),
      url: appcast.rss.channel.item.enclosure._url,
    };

    document.querySelector('.latest-version').textContent = `The latest version: ${download.latestVersion}`;
    document.querySelector('.release-date').textContent = `Released on ${download.releaseDate.toDateString()}`;
    document.querySelector('.download-button').href = download.url;

    console.log("CodeLauncher latest version is " + download.latestVersion + " released on " + download.releaseDate);
    console.log("Download URL is " + download.url);
  })
  .catch(error => console.log(error));
</script>
{% endblock %}

{% block content %}
<div class="h-stack">
  <img src="./img/AppIcon_v1_144.png?r={{ get_file_hash(path="img/AppIcon_v1_144.png", sha_type=256) }}" class="app-icon" width="48" height="48">
  <h1>CodeLauncher</h1>
</div>
<p>As a developer, you need to run many different processes for your development work. CodeLauncher provides a hub for all the server software you need, and you can organize them by project and check their output accordingly.</p>
<p><img src="/screenshots/CodeLauncher-screenshot-1.png" class="screenshot"></p>
<h2>Core Features</h2>
<ul>
  <li>Manage processes by project</li>
  <li>Check the output of each process</li>
  <li>Auto start projects when CodeLauncher starts</li>
  <li>Manage environment variables of each process</li>
  <li>Open project directory with Terminal or Visual Studio Code</li>
  <li>Export/import projects for sharing between team members</li>
</ul>
<div class="banner-download">
  <div class="download-info">
    <span class="latest-version">The latest version: 1.0.1</span>
    <p class="release-date subtitle">Released on Fri Jan 07 2022</p>
  </div>
  <div class="download-button-container">
    <a target="_blank" class="download-button" href="https://opensource.v2ex.pro/codelauncher/release-1.0.1.102/CodeLauncher.zip">Download</a>
  </div>
</div>
<h2>Open Source</h2>
<p>CodeLauncher is free and <a href="https://github.com/v2ex/launcher" target="_blank">open-source</a>.</p>
<p>If you have used <a href="https://supervisord.org/" target="_blank">supervisor</a> on Linux before, you will find the concept is quite similar. CodeLauncher works like a GUI version of supervisor for macOS, while the main goals are to make it easier to organize processes and check the output.</p>
{% endblock %}